div#container
{
  width: 900px;
  border: 1px solid black;
  float: left;
  padding: 0px;
}

div#header
{
  position: relative;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 5px;
  width: 900px;
  font: 10pt arial;
}

div#menu_container
{
  float: left;
  width: 212px;
  margin-right: 15px;
}

div#menu
{
  position: relative;
  border: 1px solid black;
  width: 100%;
  padding: 0px;
  background-color: #eeeeee;
}

div#download
{
  margin-top: 15px;
  position: relative;
  width: 100%;
  border: 1px solid black;
  background-color: #eeeeee;
  font: 11pt arial;
  font-weight: bold;
}

div#sflogo
{
  margin-top: 20px;
  position: relative;
  width: 100%;
  text-align: center;
}

div#main
{
  border: 1px solid black;
  font: 10pt arial;
  width: 673px;
  padding:0px;
  float: left;
  padding-bottom: 5px;
}

html>body #main {
	width: 683px;
}

ul
{
  padding-right: 10px;
}

ul#menu
{
  list-style: none;
  padding:0px;
  margin: 0px;
  background-color: #eeeeee;
}

ul#menu li
{
  font: 10pt arial;
  font-weight: bold;
  line-height: 15px;
  padding: 5px;
}

ul#submenu
{
  list-style: none;
  padding:0px;
  margin-left: 20px;
}

ul#submenu li
{
  font: 10pt arial;
  line-height: 20px;
}


h1
{
  font: 18pt arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-left: -2px;
}

h2
{
  margin: 0px;
  padding-left: 5px;
  padding-top: 2px;
  background-color: #eeeeee;
  font: 12pt arial;
  font-weight: bold;
}

p
{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

p#reference_overview
{
  text-align: center;
  width: 100%;
}

p#methoddetail
{
  background-color: #eeeeee;
  margin: 0px;
  margin-top: 10px;
  padding-left: 5px;
  font-weight: bold;
}

p#code
{
  margin-top: -5px;
  padding: 5px;
  background-color: #eeeeee;
  font: 10pt courier;
}

a
{
  color: #AA5522;
}

table#reference_overview
{
  margin-top: 10px;
  margin-bottom: 10px;
  
  width:95%;
  background-color: #eeeeee;
  font: 10pt arial;
}

table#reference_overview td.head
{
  font-weight: bold;
}

table#reference_overview td.method
{
  width:190px;
  vertical-align:top;
}

table#reference_overview td.description
{
  vertical-align:top;
}

table#param_table
{
  width:95%;
  font: 10pt arial;
  border: 1px solid black;
  Border-Collapse: Collapse;
}

table#param_table tr.head
{
  font-weight: bold;
}

table#param_table td
{
  padding: 3px;
  margin: 1px;
  vertical-align:top;
}